<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-about"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">About Us</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      / About Us
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center pt-md-0 pt-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="row gap-md-0 gap-3">
      <div class="col-md-6">
        <img
          src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/about-us-header.jpg"
          alt=""
          class="img-fluid"
          style="max-height: 360px;"
        />
      </div>
      <p class="col-md-6">
        Lawyers, Technologists, and Entrepreneurs. Our attorneys began their
        journey in this industry on the technology side, running cryptocurrency
        mining farms and digital asset investment funds. Blockchain Technology
        is breaking traditional industry barriers across the globe. Bull
        Blockchain Law serves as one of the few law firms completely focused on
        this industry. Our legal services are rooted in our passion for
        blockchain, and ensuring we preserve the highest standard for our
        clients is paramount. We bring regulatory clarity across many
        jurisdictions to ensure compliance and efficiency is always the main
        focus.
      </p>
    </div>
    <div
      class="d-flex flex-column gap-4 justify-content-center align-items-center bg-primary p-5"
      data-animation="up"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="60"
        height="60"
        fill="currentColor"
        class="bi bi-quote align-self-center text-white"
        viewBox="0 0 16 16"
      >
        <path
          d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"
        ></path>
      </svg>
      <blockquote class="fs-4 text-light text-center user-select-none">
        Blockchain is revolutionizing the way information is shared, secured,
        and verified. Outgrowths of Blockchain such as the tokenization of
        digital assets and information transparency are disrupting traditional
        industries daily, and this is just the beginning.
      </blockquote>
    </div>
  </div>
</section>
<section class="d-flex min-vh-100 justify-content-center align-items-center">
  <div class="container d-flex flex-column gap-5 p-5">
    <h1
      class="text-center fw-semibold text-opacity-75 border-bottom border-secondary pb-2"
    >Our Attorneys</h1>
    <ul class="list-group-horizontal row w-100 m-0 mt-4 justify-content-start">
      <li class="list-group col-md-4 p-2 py-4" data-animation="up">
        <div class="card p-2 rounded-0 border-0">
          <img
            src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/andrew.jpg"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay d-flex flex-column text-white align-items-start justify-content-end rounded-0 border-0"
          >
            <h5 class="card-title px-md-3 px-2">Card title</h5>
            <p class="card-text px-md-3 px-2">Employer name</p>
          </div>
        </div>
      </li>
      <li class="list-group col-md-4 p-2 py-4" data-animation="up">
        <div class="card p-2 rounded-0 border-0">
          <img
            src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/andrew.jpg"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay d-flex flex-column text-white align-items-start justify-content-end rounded-0 border-0"
          >
            <h5 class="card-title px-md-3 px-2">Card title</h5>
            <p class="card-text px-md-3 px-2">Employer name</p>
          </div>
        </div>
      </li>
      <li class="list-group col-md-4 p-2 py-4" data-animation="up">
        <div class="card p-2 rounded-0 border-0">
          <img
            src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/andrew.jpg"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay d-flex flex-column text-white align-items-start justify-content-end rounded-0 border-0"
          >
            <h5 class="card-title px-md-3 px-2">Card title</h5>
            <p class="card-text px-md-3 px-2">Employer name</p>
          </div>
        </div>
      </li>
      <li class="list-group col-md-4 p-2 py-4" data-animation="up">
        <div class="card p-2 rounded-0 border-0">
          <img
            src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/andrew.jpg"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay d-flex flex-column text-white align-items-start justify-content-end rounded-0 border-0"
          >
            <h5 class="card-title px-md-3 px-2">Card title</h5>
            <p class="card-text px-md-3 px-2">Employer name</p>
          </div>
        </div>
      </li>
      <li class="list-group col-md-4 p-2 py-4" data-animation="up">
        <div class="card p-2 rounded-0 border-0">
          <img
            src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/andrew.jpg"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay d-flex flex-column text-white align-items-start justify-content-end rounded-0 border-0"
          >
            <h5 class="card-title px-md-3 px-2">Card title</h5>
            <p class="card-text px-md-3 px-2">Employer name</p>
          </div>
        </div>
      </li>
      <li class="list-group col-md-4 p-2 py-4" data-animation="up">
        <div class="card p-2 rounded-0 border-0">
          <img
            src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/andrew.jpg"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay d-flex flex-column text-white align-items-start justify-content-end rounded-0 border-0"
          >
            <h5 class="card-title px-md-3 px-2">Card title</h5>
            <p class="card-text px-md-3 px-2">Employer name</p>
          </div>
        </div>
      </li>
      <li class="list-group col-md-4 p-2 py-4" data-animation="up">
        <div class="card p-2 rounded-0 border-0">
          <img
            src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/andrew.jpg"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay d-flex flex-column text-white align-items-start justify-content-end rounded-0 border-0"
          >
            <h5 class="card-title px-md-3 px-2">Card title</h5>
            <p class="card-text px-md-3 px-2">Employer name</p>
          </div>
        </div>
      </li>
      <li class="list-group col-md-4 p-2 py-4" data-animation="up">
        <div class="card p-2 rounded-0 border-0">
          <img
            src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/andrew.jpg"
            class="card-img"
            alt="..."
          />
          <div
            class="card-img-overlay d-flex flex-column text-white align-items-start justify-content-end rounded-0 border-0"
          >
            <h5 class="card-title px-md-3 px-2">Card title</h5>
            <p class="card-text px-md-3 px-2">Employer name</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>