<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="container position-absolute" style="top: 300px;">
    <h1 class="text-center">Contact Us</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      / Contact Us
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center bg-dark bg-opacity-25 p-md-0 py-5"
>
  <div class="container row gap-md-0 gap-5 py-md-5 py-3">
    <div class="col-md-8 col-lg-8 col-xl-8 text-muted">
      <div class="d-flex flex-column gap-2">
        <p class="ps-2 text-primary fw-light">CONTACT US</p>
        <p class="ps-2 m-0">Please complete the form below and we’ll be in
          touch. Fields marked (*) are required.</p>
      </div>
      <form class="row container g-3 needs-validation pt-5" novalidate>
        <div class="col-md-6">
          <label for="validationCustom01" class="form-label pt-3">First name *</label>
          <input
            type="text"
            class="form-control border-0 rounded-1 py-2"
            id="validationCustom01"
            placeholder="John"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="validationCustom02" class="form-label pt-3">Last name *</label>
          <input
            type="text"
            class="form-control border-0 rounded-1 py-2"
            id="validationCustom02"
            placeholder="Doe"
            required
          />
        </div>
        <div class="col-md-12">
          <label for="validationCustom03" class="form-label pt-3">Email address
            *</label>
          <input
            type="email"
            class="form-control border-0 rounded-1 py-2"
            id="validationCustom03"
            placeholder="example@domain.com"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>
        <!-- form check input -->
        <div class="col-md-12 d-flex flex-column gap-1">
          <p class="form-label pt-3">I am interested in</p>
          <label
            for="flexCheck1"
            class="text-start btn btn-dark rounded-1 border-0"
          >
            <input
              class="form-check-input"
              role="button"
              type="checkbox"
              value=""
              id="flexCheck1"
            />
            <span class="ps-2 form-check-label text-muted" role="button">
              Digital Assets, Securities & Token Offerings
            </span>
          </label>
          <label
            for="flexCheck2"
            class="text-start btn btn-dark rounded-1 border-0"
          >
            <input
              class="form-check-input"
              role="button"
              type="checkbox"
              value=""
              id="flexCheck2"
            />
            <span class="ps-2 form-check-label text-muted" role="button">
              FinTech
            </span>
          </label>
          <label
            for="flexCheck3"
            class="text-start btn btn-dark rounded-1 border-0"
          >
            <input
              class="form-check-input"
              role="button"
              type="checkbox"
              value=""
              id="flexCheck3"
            />
            <span class="ps-2 form-check-label text-muted" role="button">
              Broker-Dealer, Money Service Businnes, and Money Transmitter
            </span>
          </label>
          <label
            for="flexCheck4"
            class="text-start btn btn-dark rounded-1 border-0"
          >
            <input
              class="form-check-input"
              role="button"
              type="checkbox"
              value=""
              id="flexCheck4"
            />
            <span class="ps-2 form-check-label text-muted" role="button">
              Business Structuring & Governance, Taxation
            </span>
          </label>
          <label
            for="flexCheck5"
            class="text-start btn btn-dark rounded-1 border-0"
          >
            <input
              class="form-check-input"
              role="button"
              type="checkbox"
              value=""
              id="flexCheck5"
            />
            <span class="ps-2 form-check-label text-muted" role="button">
              Blockchain & Crypto Advising
            </span>
          </label>
          <label
            for="flexCheck6"
            class="text-start btn btn-dark rounded-1 border-0"
          >
            <input
              class="form-check-input"
              role="button"
              type="checkbox"
              value=""
              id="flexCheck6"
            />
            <span class="ps-2 form-check-label text-muted" role="button">
              Intellectual Property
            </span>
          </label>
          <label
            for="flexCheck7"
            class="text-start btn btn-dark rounded-1 border-0"
          >
            <input
              class="form-check-input"
              role="button"
              type="checkbox"
              value=""
              id="flexCheck7"
            />
            <span class="ps-2 form-check-label text-muted" role="button">
              Data Security & Privacy
            </span>
          </label>
          <label
            for="flexCheck8"
            class="text-start btn btn-dark rounded-1 border-0"
          >
            <input
              class="form-check-input"
              role="button"
              type="checkbox"
              value=""
              id="flexCheck8"
            />
            <span class="ps-2 form-check-label text-muted" role="button">
              Fund Fomation & Advising
            </span>
          </label>
        </div>
        <!-- end form check input -->
        <div class="col-md-12">
          <label for="validationCustom04" class="form-label pt-3">Enter the
            details of your case here. *</label>
          <textarea
            class="form-control border-0 rounded-1"
            id="validationCustom04"
            aria-label="With textarea"
          ></textarea>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-12">
          <button
            class="btn btn-primary rounded-1 py-2 fw-bold"
            type="submit"
          >Submit</button>
        </div>
      </form>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 d-flex flex-column gap-4 text-light">
      <div class="text-left">
        <p class="text-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="55"
            height="55"
            fill="currentColor"
            class="bi bi-map"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"
            ></path>
          </svg>
        </p>
        <p class="m-0 fs-4 fw-bolder text-light">
          Address
        </p>
        <p class="text-muted">
          21 S 11th Street, Floor 2 Philadelphia, PA 19107
        </p>
      </div>
      <div class="text-left">
        <p class="text-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="55"
            height="55"
            fill="currentColor"
            class="bi bi-envelope-paper"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 0a2 2 0 0 0-2 2v1.133l-.941.502A2 2 0 0 0 0 5.4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5.4a2 2 0 0 0-1.059-1.765L14 3.133V2a2 2 0 0 0-2-2H4Zm10 4.267.47.25A1 1 0 0 1 15 5.4v.817l-1 .6v-2.55Zm-1 3.15-3.75 2.25L8 8.917l-1.25.75L3 7.417V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v5.417Zm-11-.6-1-.6V5.4a1 1 0 0 1 .53-.882L2 4.267v2.55Zm13 .566v5.734l-4.778-2.867L15 7.383Zm-.035 6.88A1 1 0 0 1 14 15H2a1 1 0 0 1-.965-.738L8 10.083l6.965 4.18ZM1 13.116V7.383l4.778 2.867L1 13.117Z"
            ></path>
          </svg>
        </p>
        <p class="m-0 fs-4 fw-bolder text-light">
          E-mail
        </p>
        <p>
          <a
            href="mailto:info@bullblockchainlaw.com"
            class="text-decoration-none text-primary link-secondary"
          >
            info@bullblockchainlaw.com
          </a>
        </p>
      </div>
      <div class="text-left">
        <p class="text-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="55"
            height="55"
            fill="currentColor"
            class="bi bi-phone"
            viewBox="0 0 16 16"
          >
            <path
              d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"
            ></path>
            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"></path>
          </svg>
        </p>
        <p class="m-0 fs-4 fw-bolder text-light">
          Phone
        </p>
        <p class="text-muted">
          1-215-695-5860
        </p>
      </div>
      <div class="text-left">
        <p class="fs-4 fw-bolder text-light">
          Connect
        </p>
        <div>
          <a
            href=""
            class="text-decoration-none text-light p-2"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-facebook"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
              ></path>
            </svg>
          </a>
          <a
            href=""
            class="text-decoration-none text-light p-2"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-twitter"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
              ></path>
            </svg>
          </a>
          <a
            href=""
            class="text-decoration-none text-light p-2"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-linkedin"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>