<main
  class="d-flex flex-column min-vh-100"
  style="background-color: rgb(29, 31, 32);"
>
  <section class="d-flex min-vh-100">
    <div
      id="carouselExampleIndicators"
      class="carousel slide w-100"
      data-bs-ride="true"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active justify-center" style="height: 100vh;">
          <img
            src="https://www.iekakmi-roadtrips.gr/plugins/fullpage/examples/imgs/bg3.jpg"
            class="img-fluid w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item justify-center" style="height: 100vh;">
          <img
            src="https://www.iekakmi-roadtrips.gr/plugins/fullpage/examples/imgs/bg3.jpg"
            class="img-fluid w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item justify-center" style="height: 100vh;">
          <img
            src="https://www.iekakmi-roadtrips.gr/plugins/fullpage/examples/imgs/bg3.jpg"
            class="img-fluid w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev m-auto"
        style="height: fit-content;"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next m-auto"
        style="height: fit-content;"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section
    class="d-flex min-vh-100 justify-content-center align-items-center pt-md-0 pt-5"
    style="background-color: rgb(6, 35, 62);"
  >
    <div
      class="container d-flex flex-column gap-4 align-items-center justify-content-center px-md-5 px-3"
    >
      <div class="d-flex flex-column gap-4 px-5 text-center">
        <p class="text-white fs-1 fw-bolder">Pratice Areas</p>
        <p class="text-muted fs-5">Bull Blockchain Law helps clients navigate
          the complex and fast changing regulations and technology to provide
          sound advice and solutions for our clients.</p>
      </div>
      <div
        class="d-flex flex-column gap-5 align-items-center justify-content-center"
      >
        <div class="row">
          <div class="col-md px-0 border-end border-dark">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Digital-Assets.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Digital Assets and Token
                Projects</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-dark">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/FinTech.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">FinTech and Virtual Currency
                Business Compliance</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-dark">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/broker-dealer.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Broker-Dealer Registration
                and Compliance</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-dark">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Business-Structuring-1.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Business Structure and
                Corporate Law</p>
            </a>
          </div>
          <div class="col-md px-0">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/02/Blockchain-nft.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Non-Fungible Tokens (NFTs)</p>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md px-0 border-end border-dark">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Blockchain-Crypto-Advising.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Banking and payments Law</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-dark">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Intellectual-Property.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Intellectual Property</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-dark">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Data-Security-Privacy.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Digital Securities and
                Tokenization</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-dark">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Fund-Formation.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Fund Formation and Investment
                Adviser Rgistration</p>
            </a>
          </div>
          <div class="col-md px-0">
            <a
              href=""
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/02/Blockchain-litigaqtion.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Blockchain Litigation</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="d-flex min-vh-100 justify-content-center align-items-center">
    <div class="d-flex flex-column h-100 w-100">
      <div class="w-100 h-100 m-auto">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="true"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="5"
              aria-label="Slide 6"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="6"
              aria-label="Slide 7"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="7"
              aria-label="Slide 8"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="8"
              aria-label="Slide 9"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="9"
              aria-label="Slide 10"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="10"
              aria-label="Slide 11"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="11"
              aria-label="Slide 12"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="12"
              aria-label="Slide 13"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="13"
              aria-label="Slide 14"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="14"
              aria-label="Slide 15"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/04/Logo-2.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/02/logo-securitize-300x46-1.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/icomply-300x79-1.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/bitcoin-ira-logo-300x61-1.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/vegawallet-logo-300x71-1.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Verif-y-logo-1-300x123-1.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/STONEGATEGLOBALPNG-med.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/blockdrop_logo.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/nexus-logo-1.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/wave-logo.jpg"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/protos.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/60e7222ec963487472663c18_Bumper-Vertical-Logo-Inverse-600-p-500.jpg"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/3411f3edc65a-3rdrequests.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/KoreConXx2.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/08/tzero_dark_Logo.png"
                class="img-fluid"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="w-100" style="background-color: rgb(6, 35, 62);">
        <div class="container">
          <div class="row gap-7 py-5">
            <div class="col-md-7 d-flex flex-column w-full text-start">
              <p class="fs-2 text-light fw-bold">A boutique firm with a global
                perspective</p>
              <p class="fs-5"><strong class="text-primary">Internationally
                  Recognized</strong><br />Comprised of leading blockchain
                technology attorneys featured in Forbes and international legal
                publications.</p>
              <p class="fs-5"><strong class="text-primary">Thought Leaders</strong><br
                />Selected by EU Commission as U.S. law firm leading the study
                of legality, governance, and interoperability of blockchains and
                smart contracts.</p>
            </div>
            <div
              class="col-md-5 d-flex align-items-center justify-content-center"
            >
              <p class="fs-5"><strong class="text-primary fs-1">$ 500 Million+</strong>
                <br />
                In digital securities offerings.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="d-flex min-vh-100 justify-content-center align-items-center">
    <div class="container w-100 h-100">
      <div class="d-flex flex-column gap-5">
        <div class="d-flex flex-column gap-4 align-items-center">
          <p class="fs-5">OUR BLOG</p>
          <p class="fs-2">Latest News</p>
          <p class="fs-4 px-5">Our lawyers produce memoranda that alert our
            clients to legal and regulatory developments, industry issues, and
            court decisions and analyze the impact of these developments on our
            clients.</p>
        </div>
        <ul class="row w-100 list-unstyled">
          <li class="col-4 p-3">
            <div class="d-flex flex-column gap-3 p-4 border">
              <div></div>
              <a href="#" class="fs-3 text-decoration-none text-light">DELAWARE
                COURT AWARDS $25M TO DIAMOND FORTRESS TECHNOLOGIES FOR BREACH OF
                CRYPTO-PAID CONTRACT</a>
              <a href="#" class="fs-6 text-decoration-none text-secondary">May
                23, 2022</a>
              <p class="fs-4 text-truncate">In a recent opinion in Diamond
                Fortress Technologies.</p>
            </div>
          </li>
          <li class="col-4 p-3">
            <div class="d-flex flex-column gap-3 p-4 border">
              <div></div>
              <a href="#" class="fs-3 text-decoration-none text-light">CLIENT
                ALERT: NFT Marketplaces and the Shifting Regulatory Environment</a>
              <a href="#" class="fs-6 text-decoration-none text-secondary">May
                23, 2022</a>
              <p class="fs-4 text-truncate">In a recent opinion in Diamond
                Fortress Technologies.</p>
            </div>
          </li>
          <li class="col-4 p-3">
            <div class="d-flex flex-column gap-3 p-4 border">
              <div></div>
              <a href="#" class="fs-3 text-decoration-none text-light">Two
                Defendants Charged In Non-Fungible Token (“NFT”) Fraud And Money
                Laundering Scheme</a>
              <a href="#" class="fs-6 text-decoration-none text-secondary">May
                23, 2022</a>
              <p class="fs-4 text-truncate">In a recent opinion in Diamond
                Fortress Technologies.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section
    class="d-flex min-vh-100 justify-content-center align-items-center"
    style="background-color: rgb(34, 36, 37);"
  >
    <div
      class="d-flex flex-column gap-5 justify-content-center align-items-center"
    >
      <div
        class="d-flex flex-column gap-3 justify-content-center align-items-center"
      >
        <p class="fs-6 text-primary fw-light">WRITE A MESSAGE </p>
        <p class="fs-1 fw-bold">Get a 30 minute consultation</p>
        <p class="fs-4 text-secondary fw-normal">Please complete the form below
          and we’ll be in touch.</p>
      </div>
      <form class="row g-3 needs-validation pt-5" novalidate>
        <div class="col-md-12">
          <label for="validationCustom01" class="form-label pt-3">Your name</label>
          <input
            type="text"
            class="form-control border-0 rounded-1 py-2"
            id="validationCustom01"
            placeholder="John Doe"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="validationCustom02" class="form-label pt-3">Email address
            *</label>
          <input
            type="email"
            class="form-control border-0 rounded-1 py-2"
            id="validationCustom02"
            placeholder="example@domain.com"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label pt-3">Phone</label>
          <input
            type="text"
            class="form-control border-0 rounded-1 py-2"
            id="validationCustom03"
            placeholder="+1-999-999-9999"
            required
          />
          <div class="invalid-feedback">
            Please provide a phone.
          </div>
        </div>
        <div class="col-md-12">
          <label
            for="validationCustom05"
            class="form-label pt-3"
          >Message</label>
          <textarea
            class="form-control border-0 rounded-1 py-2"
            id="validationCustom05"
            aria-label="With textarea"
            placeholder="Tell us briefly about your needs"
            style="height: 120px;"
          ></textarea>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-12 pt-3">
          <button
            class="fw-bolder fs-6 btn btn-primary rounded-1 px-4 py-2"
            type="submit"
          >Submit</button>
        </div>
      </form>
    </div>
  </section>
</main>