<main class="d-flex flex-column" style="background-color: rgb(29, 31, 32);">
  {{! carousel }}
  <section
    class="carousel-section-block d-flex align-items-center justify-content-center"
    style="max-height: 100vh;"
  >
    <div
      id="carouselExampleIndicators"
      class="carousel slide w-100"
      data-bs-ride="true"
    >
      <div class="text-white position-absolute scroll-indicator">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-chevron-down"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
          ></path>
        </svg>

      </div>
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active slide-button"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          class="slide-button"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          class="slide-button"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          class="slide-button"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-inner">
        <div
          class="carousel-item active justify-center carousel-img carousel-img-1"
        >
          <div
            class="carousel-text-block carousel-caption justify-content-start"
          >
            <h6
              class="welcome-title text-start text-uppercase text-white text-opacity-75"
            >LAWYERS, TECHNOLOGISTS, AND ENTREPRENEURS</h6>
            <p class="welcome-text text-start text-white fw-bold">The Blockchain
              &
              <br />Cruptocurrency Law Firm</p>
            <p class="welcome-description text-start text-white fw-semibold">
              We provide a diverse set of services within blockchain technology
              to our clients across a myriad of industries and jurisdictions.
            </p>
            <div class="w-100 d-flex justify-content-start">
              <a
                href="/contact"
                class="fw-semibold btn btn-primary rounded-1"
              >Get A Consultation</a>
            </div>
          </div>
        </div>
        <div class="carousel-item justify-center carousel-img carousel-img-2">
          <div
            class="carousel-text-block carousel-caption justify-content-start"
          >
            <h6
              class="welcome-title text-start text-uppercase text-white text-opacity-75"
            >LAWYERS, TECHNOLOGISTS, AND ENTREPRENEURS</h6>
            <p class="welcome-text text-start text-white fw-bold">
              ENERGY & INFRASTRUCTURE
            </p>
            <p class="welcome-description text-start text-white fw-semibold">
              We help clients drive towards carbon neutrality, ESG politics and
              Sustainability Disclosure in order to promote a better business
              environment with more inclusion and diversity.
            </p>
            <div class="w-100 d-flex justify-content-start">
              <a
                href="/contact"
                class="fw-semibold btn btn-primary rounded-1"
              >Get A Consultation</a>
            </div>
          </div>
        </div>
        <div class="carousel-item justify-center carousel-img carousel-img-1">
          <div
            class="carousel-text-block carousel-caption justify-content-start"
          >
            <h6
              class="welcome-title text-start text-uppercase text-white text-opacity-75"
            >LAWYERS, TECHNOLOGISTS, AND ENTREPRENEURS</h6>
            <p class="welcome-text text-start text-white fw-bold">
              FINANCE
            </p>
            <p
              class="welcome-description text-start text-white fw-semibold pb-4"
            >
              From strategic consultancy to epic fusions. A huge board with more
              than 70 team members around the globe.
            </p>
            <div class="w-100 d-flex justify-content-start">
              <a
                href="/contact"
                class="fw-semibold btn btn-primary rounded-1"
              >Get A Consultation</a>
            </div>
          </div>
        </div>
        <div class="carousel-item justify-center carousel-img carousel-img-2">
          <div
            class="carousel-text-block carousel-caption justify-content-start"
          >
            <h6
              class="welcome-title text-start text-uppercase text-white text-opacity-75"
            >LAWYERS, TECHNOLOGISTS, AND ENTREPRENEURS</h6>
            <p class="welcome-text text-start text-white fw-bold">TECHNOLOGY &
              INNOVATION</p>
            <p class="welcome-description text-start text-white fw-semibold">
              We provide innovative legal solutions to help companies of all
              sizes achieve their commercial, jurisdictions and growth
              objectives, helping our broad base of clients achieve success on
              their own terms.
            </p>
            <div class="w-100 d-flex justify-content-start">
              <a
                href="/contact"
                class="fw-semibold btn btn-primary rounded-1"
              >Get A Consultation</a>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev carousel-control-button m-auto p-md-4 p-2"
        style="
        height: fit-content;
        width: fit-content;"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next carousel-control-button m-auto p-md-4 p-2"
        style="
        height: fit-content;
        width: fit-content;"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section
    class="d-flex min-vh-100 justify-content-center align-items-center py-5"
  >
    <div
      class="container d-flex flex-column gap-5 align-items-center justify-content-center px-md-5 px-3 text-white text-center"
    >
      <p class="text-white fs-1 fw-bolder">Why choose Bull
        Blockchain Law?</p>
      <div class="row">
        <div class="col-md d-flex flex-column gap-2">
          <p
            class="text-start fs-5 text-white text-opacity-50"
            data-animation="up"
          >We are the excellence and security in legal solutions for our
            clients, always acting in a practical and objective way through
            personalized and agile services.</p>
          <p
            class="text-start fs-3 text-white text-opacity-75 font-georgia"
            data-animation="up"
          >In an increasingly regulated world, we have an exceptional ability to
            help clients navigate their most complex business problems, deals,
            and disputes.
          </p>
          <p
            class="text-start fs-5 text-white text-opacity-50"
            data-animation="up"
          >Our distinctively collaborative culture allows us to be truly one
            team globally, drawing on the diverse experience of lawyers and
            advisors across the firm by seamlessly sharing insight and
            expertise.
          </p>
          <p
            class="text-start fs-3 text-white text-opacity-75 font-georgia"
            data-animation="up"
          >We deliver commercially minded advice of the highest quality,
            combining a deep understanding of our clients' industries and issues
            with sophisticated and integrated legal knowledge.
          </p>
        </div>
        <div class="col-md d-flex flex-column gap-2">
          <p
            class="pb-2 text-start fs-4 text-white text-opacity-75 font-georgia"
            data-animation="up"
          >METAVERSE
          </p>
          <p
            class="text-start fs-5 text-white text-opacity-50"
            data-animation="up"
          >Uncertainty and opportunity surround the metaverse and web3.
            Callegari Law provides strategic advice to clients on how to protect
            and extend their content and brands in real-time, 3D environments as
            well as decentralized platforms, and also counsels metaverse
            platforms on how to integrate highly-branded goods into their
            digital environments. Our experience working with clients on matters
            relating to video games, cryptocurrencies, digital content
            distribution and NFTs, combined with our deep industry expertise in
            the fields of insurance, tax, antitrust, consumer marketing, and
            financial services, give us actionable insights that can help our
            clients craft successful strategies, execute transactions, and
            navigate disputes in this fast-moving market.
          </p>
          <p
            class="text-start fs-4 text-white text-opacity-75 font-georgia"
            data-animation="up"
          >Global technology leaders rely on Callegari Law on-the-ground
            connections and acumen, sophisticated legal counsel, and regulatory
            and government insight to help them solve their most complex legal
            issues around the world.
          </p>
          <p
            class="text-start fs-4 text-white text-opacity-75 font-georgia"
          >These are only a few of many reasons that nine of the 10 largest
            global technology companies, along with 1,100 other technology
            innovators, turn to Callegari Law technology team to achieve their
            business and legal objectives.
          </p>
        </div>
      </div>
    </div>
  </section>
  {{! services }}
  <section
    class="d-flex min-vh-100 justify-content-center align-items-center pt-md-0 pt-5"
    style="background-color: rgb(6, 35, 62);"
  >
    <div
      class="inline-photo show-on-scroll container d-flex flex-column gap-4 align-items-center justify-content-center px-md-5 px-3"
    >
      <div
        class="d-flex flex-column gap-4 px-5 text-center"
        data-animation="up"
      >
        <p class="text-white fs-1 fw-bolder">Pratice Areas</p>
        <p class="text-white text-opacity-50 fs-5">Bull Blockchain Law helps
          clients navigate navigate the complex and fast changing regulations
          and technology to provide sound advice and solutions for our clients.</p>
      </div>
      <div
        class="d-flex flex-column gap-5 align-items-center justify-content-center"
      >
        <div class="row" data-animation="up">
          <div class="col-md px-0 border-end border-light border-opacity-25">
            <a
              href="/pratice/digital-assets"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Digital-Assets.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Digital Assets and Token
                Projects</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-light border-opacity-25">
            <a
              href="/pratice/fintech-cryptocurrency"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/FinTech.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">FinTech and Virtual Currency
                Business Compliance</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-light border-opacity-25">
            <a
              href="/pratice/broker-dealer"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/broker-dealer.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Broker-Dealer Registration
                and Compliance</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-light border-opacity-25">
            <a
              href="/pratice/corporate-governance"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Business-Structuring-1.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Business Structure and
                Corporate Law</p>
            </a>
          </div>
          <div class="col-md px-0">
            <a
              href="/pratice/non-fungible"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/02/Blockchain-nft.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Non-Fungible Tokens (NFTs)</p>
            </a>
          </div>
        </div>
        <div class="row" data-animation="up">
          <div class="col-md px-0 border-end border-light border-opacity-25">
            <a
              href="/pratice/blockchain-advising"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Blockchain-Crypto-Advising.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Banking and payments Law</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-light border-opacity-25">
            <a
              href="/pratice/intellectual-property"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Intellectual-Property.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Intellectual Property</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-light border-opacity-25">
            <a
              href="/pratice/cybersecurity"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Data-Security-Privacy.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Digital Securities and
                Tokenization</p>
            </a>
          </div>
          <div class="col-md px-0 border-end border-light border-opacity-25">
            <a
              href="/pratice/fund-formation"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Fund-Formation.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Fund Formation and Investment
                Adviser Rgistration</p>
            </a>
          </div>
          <div class="col-md px-0">
            <a
              href="/pratice/blockchain-litigation"
              class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
            >
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/02/Blockchain-litigaqtion.png"
                alt=""
                style="max-height: 63px;
              max-width: 63px;"
              />
              <p class="text-white fs-6 fw-bolder">Blockchain Litigation</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{! areas }}
  <section
    class="d-flex min-vh-100 justify-content-center align-items-center bg-white"
  >
    <div class="d-flex flex-column min-vh-100 w-100">
      <div class="w-100 h-100 m-auto d-flex flex-column gap-5">
        <p class="fs-1 text-center fw-bold" data-animation="up">Our Partners</p>
        <div class="slider" data-animation="up">
          <div class="slide-track py-2">
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/04/Logo-2.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/02/logo-securitize-300x46-1.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/icomply-300x79-1.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/bitcoin-ira-logo-300x61-1.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/vegawallet-logo-300x71-1.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Verif-y-logo-1-300x123-1.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/STONEGATEGLOBALPNG-med.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/blockdrop_logo.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/nexus-logo-1.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/wave-logo.jpg"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/protos.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/60e7222ec963487472663c18_Bumper-Vertical-Logo-Inverse-600-p-500.jpg"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/3411f3edc65a-3rdrequests.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2021/12/KoreConXx2.png"
                alt="logo"
              />
            </div>
            <div class="slide d-flex">
              <img
                src="https://bullblockchainlaw.com/wp-content/uploads/2022/08/tzero_dark_Logo.png"
                alt="logo"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="partners-block-2 d-flex justify-content-center align-items-center w-100"
      >
        <div class="container" data-animation="up">
          <div class="row gap-7 py-5">
            <div class="col-md-7 d-flex flex-column w-full text-start">
              <p class="fs-2 text-light fw-bold">A boutique firm with a global
                perspective</p>
              <p class="fs-5 text-white"><strong
                  class="text-primary"
                >Internationally Recognized</strong><br />Comprised of leading
                blockchain technology attorneys featured in Forbes and
                international legal publications.</p>
              <p class="fs-5 text-white"><strong class="text-primary">Thought
                  Leaders</strong><br />Selected by EU Commission as U.S. law
                firm leading the study of legality, governance, and
                interoperability of blockchains and smart contracts.</p>
            </div>
            <div
              class="col-md-5 d-flex align-items-center justify-content-center"
            >
              <p class="fs-5 text-white"><strong class="text-primary fs-1">$500
                  Million+</strong>
                <br />
                In digital securities offerings.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{! blog }}
  <section
    class="d-flex min-vh-100 justify-content-center align-items-center py-5"
  >
    <div class="container w-100 h-100">
      <div class="d-flex flex-column gap-5">
        <div
          class="d-flex flex-column gap-3 align-items-center"
          data-animation="up"
        >
          <p class="m-0 fs-6 text-primary fw-light">OUR BLOG</p>
          <p class="m-0 fs-1 text-white fw-semibold">Latest News</p>
          <p class="fs-5 text-white text-opacity-50 text-center px-5 mt-4">Our
            lawyers produce memoranda that alert our clients to legal and
            regulatory developments, industry issues, and court decisions and
            analyze the impact of these developments on our clients.</p>
        </div>
        <div class="row px-4 px-md-0" data-animation="up">
          <div class="col-lg-4 col-md-6 p-md-3 py-3">
            <div
              class="d-flex flex-column gap-3 p-md-5 px-4 py-5 border border-white border-opacity-25 news-card"
            >
              <div class="justify-content-start w-100 d-flex gap-1 news-badge">
                <a
                  href="/pratice/"
                  class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
                >
                  BLOCKCHAIN AND FINTECH
                </a>
                <a
                  href="/pratice/"
                  class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
                >
                  DIGITAL SECURITIES
                </a>
              </div>
              <a
                href="#"
                class="news-card-title fs-4 link-primary text-decoration-none text-light fw-semibold"
              >DELAWARE COURT AWARDS $25M TO DIAMOND FORTRESS TECHNOLOGIES FOR
                BREACH OF CRYPTO-PAID CONTRACT</a>
              <a href="#" class="fs-6 text-decoration-none text-secondary">May
                23, 2022 /</a>
              <p class="fs-4 text-white text-opacity-50 text-truncate">In a
                recent opinion in Diamond Fortress Technologies.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-md-3 py-3">
            <div
              class="d-flex flex-column gap-3 p-md-5 px-4 py-5 border border-white border-opacity-25 news-card"
            >
              <div class="justify-content-start w-100 d-flex gap-1 news-badge">
                <a
                  href="/pratice/"
                  class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
                >
                  BLOCKCHAIN AND FINTECH
                </a>
                <a
                  href="/pratice/"
                  class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
                >
                  DIGITAL SECURITIES
                </a>
              </div>
              <a
                href="#"
                class="news-card-title fs-4 link-primary text-decoration-none text-light fw-semibold"
              >CLIENT ALERT: NFT Marketplaces and the Shifting Regulatory
                Environment</a>
              <a href="#" class="fs-6 text-decoration-none text-secondary">May
                23, 2022 /</a>
              <p class="fs-4 text-white text-opacity-50 text-truncate">In a
                recent opinion in Diamond Fortress Technologies.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-md-3 py-3">
            <div
              class="d-flex flex-column gap-3 p-md-5 px-4 py-5 border border-white border-opacity-25 news-card"
            >
              <div class="justify-content-start w-100 d-flex gap-1 news-badge">
                <a
                  href="/pratice/"
                  class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
                >
                  BLOCKCHAIN AND FINTECH
                </a>
                <a
                  href="/pratice/"
                  class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
                >
                  DIGITAL SECURITIES
                </a>
              </div>
              <a
                href="#"
                class="news-card-title fs-4 link-primary text-decoration-none text-light fw-semibold"
              >Two Defendants Charged In Non-Fungible Token (“NFT”) Fraud And
                Money Laundering Scheme</a>
              <a href="#" class="fs-6 text-decoration-none text-secondary">May
                23, 2022 /</a>
              <p class="fs-4 text-white text-opacity-50 text-truncate">In a
                recent opinion in Diamond Fortress Technologies.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{! contact }}
  <section
    class="d-flex min-vh-100 justify-content-center align-items-center px-md-1 px-2 py-5 bg-white"
  >
    <div
      class="d-flex flex-column gap-5 justify-content-center align-items-center"
    >
      <div
        class="d-flex flex-column gap-3 justify-content-center align-items-center"
        data-animation="up"
      >
        <p class="fs-6 text-primary fw-light">WRITE A MESSAGE </p>
        <p class="fs-1 fw-bold">Get a 30 minute consultation</p>
        <p class="fs-4 text-secondary fw-normal">Please complete the form below
          and we’ll be in touch.</p>
      </div>
      <form
        class="row g-3 needs-validation w-100"
        data-animation="up"
        novalidate
      >
        <div class="col-md-12">
          <label for="validationCustom01" class="form-label pt-3">Your name</label>
          <input
            type="text"
            class="form-control bg-secondary bg-opacity-10 border-0 rounded-1 py-2"
            id="validationCustom01"
            placeholder="John Doe"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="validationCustom02" class="form-label pt-3">Email address
            *</label>
          <input
            type="email"
            class="form-control bg-secondary bg-opacity-10 border-0 rounded-1 py-2"
            id="validationCustom02"
            placeholder="example@domain.com"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label pt-3">Phone</label>
          <input
            type="text"
            class="form-control bg-secondary bg-opacity-10 border-0 rounded-1 py-2"
            id="validationCustom03"
            placeholder="+1-999-999-9999"
            required
          />
          <div class="invalid-feedback">
            Please provide a phone.
          </div>
        </div>
        <div class="col-md-12">
          <label
            for="validationCustom05"
            class="form-label pt-3"
          >Message</label>
          <textarea
            class="form-control bg-secondary bg-opacity-10 border-0 rounded-1 py-2"
            id="validationCustom05"
            aria-label="With textarea"
            placeholder="Tell us briefly about your needs"
            style="height: 120px;"
          ></textarea>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-12 pt-3">
          <button
            class="fw-bolder fs-6 btn btn-primary rounded-1 px-4 py-2"
            type="submit"
          >Submit</button>
        </div>
      </form>
    </div>
  </section>
</main>