<main class="d-flex flex-column min-vh-100">
  <section class="d-flex min-vh-100">
    <div
      id="carouselExampleIndicators"
      class="carousel slide w-100"
      data-bs-ride="true"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active justify-center" style="height: 100vh;">
          <img
            src="https://www.iekakmi-roadtrips.gr/plugins/fullpage/examples/imgs/bg3.jpg"
            class="img-fluid w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item justify-center" style="height: 100vh;">
          <img
            src="https://www.iekakmi-roadtrips.gr/plugins/fullpage/examples/imgs/bg3.jpg"
            class="img-fluid w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item justify-center" style="height: 100vh;">
          <img
            src="https://www.iekakmi-roadtrips.gr/plugins/fullpage/examples/imgs/bg3.jpg"
            class="img-fluid w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev m-auto"
        style="height: fit-content;"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next m-auto"
        style="height: fit-content;"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section
    class="d-flex min-vh-100 justify-content-center align-items-center bg-secondary"
  >
    <div class="d-flex m-auto">
      <div class="container p-0">
        <div class="d-flex flex-column align-items-center gap-2">
          <p class="fs-2 fw-bold">Pratice Areas</p>
          <p class="fs-5 text-secondary text-center w-50">Bull Blockchain Law
            helps clients navigate the complex and fast changing regulations and
            technology to provide sound advice and solutions for our clients.</p>
        </div>
        <div class="row w-100 m-0 mt-4 justify-content-center">
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
        <div class="row w-100 m-0 mt-4 justify-content-center">
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="col">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="d-flex min-vh-100 justify-content-center align-items-center">
    <div class="d-flex flex-column h-100 w-100">
      <div class="w-100 col-6">

      </div>
      <div class="container w-100 bg-">
        <div class="row gap-3">
          <div class="col-7 d-flex flex-column w-full">
            <p class="fs-2 text-light fw-bold">A boutique firm with a global
              perspective</p>
            <p class="fs-5"><strong class="text-primary">Internationally
                Recognized</strong><br />Comprised of leading blockchain
              technology attorneys featured in Forbes and international legal
              publications.</p>
            <p class="fs-5"><strong class="text-primary">Thought Leaders</strong><br
              />Selected by EU Commission as U.S. law firm leading the study of
              legality, governance, and interoperability of blockchains and
              smart contracts.</p>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <p class="fs-5"><strong class="text-primary fs-1">$ 500 Million+</strong>
              <br />
              In digital securities offerings.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
</main>