<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Recent News</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      / Recent News
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
  style="background-color: rgb(29, 31, 32);"
>
  <div class="container w-100 h-100">
    <div class="d-flex flex-column gap-5">
      <div class="d-flex flex-column gap-3 align-items-center">
        <p class="m-0 fs-6 text-primary fw-light">OUR BLOG</p>
        <p class="m-0 fs-1 text-white fw-semibold">Latest News</p>
        <p class="fs-5 text-white text-opacity-50 text-center px-5 mt-4">Our
          lawyers produce memoranda that alert our clients to legal and
          regulatory developments, industry issues, and court decisions and
          analyze the impact of these developments on our clients.</p>
      </div>
      <div class="row px-4 px-md-0">
        <div class="col-lg-4 col-md-6 p-md-3 py-3" data-animation="up">
          <div
            class="d-flex flex-column gap-3 p-md-5 px-4 py-5 border border-white border-opacity-25 news-card"
          >
            <div class="justify-content-start w-100 d-flex gap-1 news-badge">
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                BLOCKCHAIN AND FINTECH
              </a>
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                DIGITAL SECURITIES
              </a>
            </div>
            <a
              href="#"
              class="news-card-title fs-4 link-primary text-decoration-none text-light fw-semibold"
            >DELAWARE COURT AWARDS $25M TO DIAMOND FORTRESS TECHNOLOGIES FOR
              BREACH OF CRYPTO-PAID CONTRACT</a>
            <a href="#" class="fs-6 text-decoration-none text-secondary">May 23,
              2022 /</a>
            <p class="fs-4 text-white text-opacity-50 text-truncate">In a recent
              opinion in Diamond Fortress Technologies.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-md-3 py-3" data-animation="up">
          <div
            class="d-flex flex-column gap-3 p-md-5 px-4 py-5 border border-white border-opacity-25 news-card"
          >
            <div class="justify-content-start w-100 d-flex gap-1 news-badge">
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                BLOCKCHAIN AND FINTECH
              </a>
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                DIGITAL SECURITIES
              </a>
            </div>
            <a
              href="#"
              class="news-card-title fs-4 link-primary text-decoration-none text-light fw-semibold"
            >CLIENT ALERT: NFT Marketplaces and the Shifting Regulatory
              Environment</a>
            <a href="#" class="fs-6 text-decoration-none text-secondary">May 23,
              2022 /</a>
            <p class="fs-4 text-white text-opacity-50 text-truncate">In a recent
              opinion in Diamond Fortress Technologies.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-md-3 py-3" data-animation="up">
          <div
            class="d-flex flex-column gap-3 p-md-5 px-4 py-5 border border-white border-opacity-25 news-card"
          >
            <div class="justify-content-start w-100 d-flex gap-1 news-badge">
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                BLOCKCHAIN AND FINTECH
              </a>
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                DIGITAL SECURITIES
              </a>
            </div>
            <a
              href="#"
              class="news-card-title fs-4 link-primary text-decoration-none text-light fw-semibold"
            >Two Defendants Charged In Non-Fungible Token (“NFT”) Fraud And
              Money Laundering Scheme</a>
            <a href="#" class="fs-6 text-decoration-none text-secondary">May 23,
              2022 /</a>
            <p class="fs-4 text-white text-opacity-50 text-truncate">In a recent
              opinion in Diamond Fortress Technologies.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-md-3 py-3" data-animation="up">
          <div
            class="d-flex flex-column gap-3 p-md-5 px-4 py-5 border border-white border-opacity-25 news-card"
          >
            <div class="justify-content-start w-100 d-flex gap-1 news-badge">
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                BLOCKCHAIN AND FINTECH
              </a>
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                DIGITAL SECURITIES
              </a>
            </div>
            <a
              href="#"
              class="news-card-title fs-4 link-primary text-decoration-none text-light fw-semibold"
            >DELAWARE COURT AWARDS $25M TO DIAMOND FORTRESS TECHNOLOGIES FOR
              BREACH OF CRYPTO-PAID CONTRACT</a>
            <a href="#" class="fs-6 text-decoration-none text-secondary">May 23,
              2022 /</a>
            <p class="fs-4 text-white text-opacity-50 text-truncate">In a recent
              opinion in Diamond Fortress Technologies.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-md-3 py-3" data-animation="up">
          <div
            class="d-flex flex-column gap-3 p-md-5 px-4 py-5 border border-white border-opacity-25 news-card"
          >
            <div class="justify-content-start w-100 d-flex gap-1 news-badge">
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                BLOCKCHAIN AND FINTECH
              </a>
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                DIGITAL SECURITIES
              </a>
            </div>
            <a
              href="#"
              class="news-card-title fs-4 link-primary text-decoration-none text-light fw-semibold"
            >CLIENT ALERT: NFT Marketplaces and the Shifting Regulatory
              Environment</a>
            <a href="#" class="fs-6 text-decoration-none text-secondary">May 23,
              2022 /</a>
            <p class="fs-4 text-white text-opacity-50 text-truncate">In a recent
              opinion in Diamond Fortress Technologies.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-md-3 py-3" data-animation="up">
          <div
            class="d-flex flex-column gap-3 p-md-5 px-4 py-5 border border-white border-opacity-25 news-card"
          >
            <div class="justify-content-start w-100 d-flex gap-1 news-badge">
              <a
                href="/pratice/"
                class="d-flex align-items-center justify-content-center btn btn-primary rounded-0 p-2 fw-bolder"
              >
                BLOCKCHAIN AND FINTECH
              </a>
            </div>
            <a
              href="#"
              class="news-card-title fs-4 link-primary text-decoration-none text-light fw-semibold"
            >Two Defendants Charged In Non-Fungible Token (“NFT”) Fraud And
              Money Laundering Scheme</a>
            <a href="#" class="fs-6 text-decoration-none text-secondary">May 23,
              2022 /</a>
            <p class="fs-4 text-white text-opacity-50 text-truncate">In a recent
              opinion in Diamond Fortress Technologies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>