<section
  class="d-flex justify-content-center align-items-center"
  style="min-height: 60vh;"
>
  <div class="container position-absolute" style="top: 300px;">
    <h1 class="text-center">Recent News</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      / Recent News
    </p>
  </div>
</section>