<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Pratice Areas</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      / Pratice Areas
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center pt-md-0 pt-5"
  style="background-color: rgb(6, 35, 62);"
>
  <div
    class="inline-photo show-on-scroll container d-flex flex-column gap-4 align-items-center justify-content-center px-md-5 px-3"
  >
    <div class="d-flex flex-column gap-4 px-5 text-center" data-animation="up">
      <p class="text-white fs-1 fw-bolder">Pratice Areas</p>
      <p class="text-white text-opacity-50 fs-5">Bull Blockchain Law helps
        clients navigate navigate the complex and fast changing regulations and
        technology to provide sound advice and solutions for our clients.</p>
    </div>
    <div
      class="d-flex flex-column gap-5 align-items-center justify-content-center"
    >
      <div class="row" data-animation="up">
        <div class="col-md px-0 border-end border-light border-opacity-25">
          <a
            href="/pratice/digital-assets"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Digital-Assets.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">Digital Assets and Token
              Projects</p>
          </a>
        </div>
        <div class="col-md px-0 border-end border-light border-opacity-25">
          <a
            href="/pratice/fintech-cryptocurrency"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/FinTech.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">FinTech and Virtual Currency
              Business Compliance</p>
          </a>
        </div>
        <div class="col-md px-0 border-end border-light border-opacity-25">
          <a
            href="/pratice/broker-dealer"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/broker-dealer.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">Broker-Dealer Registration and
              Compliance</p>
          </a>
        </div>
        <div class="col-md px-0 border-end border-light border-opacity-25">
          <a
            href="/pratice/corporate-governance"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Business-Structuring-1.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">Business Structure and
              Corporate Law</p>
          </a>
        </div>
        <div class="col-md px-0">
          <a
            href="/pratice/non-fungible"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2022/02/Blockchain-nft.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">Non-Fungible Tokens (NFTs)</p>
          </a>
        </div>
      </div>
      <div class="row" data-animation="up">
        <div class="col-md px-0 border-end border-light border-opacity-25">
          <a
            href="/pratice/blockchain-advising"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Blockchain-Crypto-Advising.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">Banking and payments Law</p>
          </a>
        </div>
        <div class="col-md px-0 border-end border-light border-opacity-25">
          <a
            href="/pratice/intellectual-property"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Intellectual-Property.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">Intellectual Property</p>
          </a>
        </div>
        <div class="col-md px-0 border-end border-light border-opacity-25">
          <a
            href="/pratice/cybersecurity"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Data-Security-Privacy.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">Digital Securities and
              Tokenization</p>
          </a>
        </div>
        <div class="col-md px-0 border-end border-light border-opacity-25">
          <a
            href="/pratice/fund-formation"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/Fund-Formation.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">Fund Formation and Investment
              Adviser Rgistration</p>
          </a>
        </div>
        <div class="col-md px-0">
          <a
            href="/pratice/blockchain-litigation"
            class="h-100 w-100 btn btn-outline-primary rounded-0 border-0 d-flex flex-column gap-1 align-items-center justify-content-center text-decoration-none"
          >
            <img
              src="https://bullblockchainlaw.com/wp-content/uploads/2022/02/Blockchain-litigaqtion.png"
              alt=""
              style="max-height: 63px;
              max-width: 63px;"
            />
            <p class="text-white fs-6 fw-bolder">Blockchain Litigation</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>