<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-communications header-background-image"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Communications and Media</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      /
      <a
        href="/about"
        class="text-decoration-none text-white link-primary"
      >About Us</a>
      / Communications and Media
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="d-flex flex-column gap-2">
      <p
        class="pb-4 text-center fs-1 text-darkslategray font-georgia"
      >Communications and Media
      </p>
      <div class="row">
        <div class="col-md-6 flex gap-2">
          <img
            src="/law-advice-and-legal-services-concept.jpg"
            alt=""
            class="img-fluid"
            style="max-height: 360px;"
          />
        </div>
        <div class="col-md-6 pt-md-0 pt-4">
          <p class="text-start fs-6">CALLEGARI LAW global Communications and
            Media Industry Group has widely recognized experience in
            telecommunications, broadcasting, wireless, broadband, content
            creation and distribution, spectrum innovation, newsgathering, and
            the First Amendment. The group maintains an elite practice
            representing parties before the Federal Communications Commission
            (FCC), at the same time that it has experience in a wide range of
            communications matters, including structuring, counseling on, and
            negotiating transactions and regulatory resolutions, and, where
            necessary, litigation.
          </p>
        </div>
      </div>
      <p class="text-start fs-6">CALLEGARI LAW industry team,” provides the
        highest level of legal and strategic advice to telecommunications,
        media, and technology companies around the world. CALLEGARI LAW
        communications and media lawyers are not just lawyers with media
        clients—our lawyers act as strategic advisors to leading and emerging
        entities across the entire industry. We provide legal services to
        Fortune 25 multinational companies and entrepreneurs alike. Our clients
        include Internet and telecommunications companies, leading application
        developers, national broadcast television networks and stations, cable
        programming networks, digital video channels, sports leagues, major
        music labels and publishers, video game publishers, streaming video
        services, and film studios.
      </p>
      <p class="text-start fs-6">Our practice covers a full range of services,
        including the following:
      </p>
      <ul class="list-group d-flex flex-column gap-3 ps-4">
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/accessibility"
          >
            Accessibility
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/broadband-and-telecommunications"
          >
            Broadband and Telecommunications
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/broadcast"
          >
            Broadcast
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/content-creation-and-distribution"
          >
            Content Creation and Distribution
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/fcc-equipment-authorization"
          >
            FCC Equipment Authorization
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/m-and-a-transactions-in-the-communications-and-media-industry"
          >
            M&A Transactions in the Communications and Media Industry
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/media-and-entertainment-litigation"
          >
            Media and Entertainment Litigation
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/satellite"
          >
            Satellite
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/team-telecom-and-national-security"
          >
            Team Telecom and National Security
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/telephone-consumer-privacy-act-tcpa-compliance-and-policymaking"
          >
            Telephone Consumer Privacy Act (TCPA) Compliance and Policymaking
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/universal-service-funding"
          >
            Universal Service Funding
          </a>
        </li>
        <li class="text-darkslategray fw-semibold"><a
            class="text-decoration-none fs-5 text-darkslategray-light"
            href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/wireless-and-spectrum"
          >
            Wireless and Spectrum
          </a>
        </li>
      </ul>
      <p class="text-start fs-6 pt-2">Businesses today face increasing scrutiny
        of their Environmental, Social, and Governance (ESG) strategies from
        regulators, investors, consumers, NGOs, and other key stakeholders who
        want—and often require—a commitment to social and environmental
        responsibility and sound corporate governance. A robust ESG program
        provides a competitive advantage for businesses that make it a top
        priority. While ESG has potential to create new business opportunities,
        it can also pose legal, reputational, and operational risks.
      </p>
      <p class="text-start fs-6">Callegari Law global and multidisciplinary ESG
        practice advises companies, investors, and other stakeholders on the
        rapidly evolving developments related to emerging ESG and sustainability
        issues. Our ESG lawyers and advisors help our clients meet the most
        complex business, legal, and regulatory challenges in the ESG space.
      </p>
    </div>
  </div>
</section>