<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-about"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Corporate Governance</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      /
      <a
        href="/about"
        class="text-decoration-none text-white link-primary"
      >About Us</a>
      / Corporate Governance
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="d-flex flex-column gap-2">
      <p class="pb-4 text-center fs-1 text-darkslategray font-georgia">Corporate
        Governance
      </p>
      <p class="text-start fs-6">Stakeholder capitalism, sustainability, and
        other ESG considerations are commanding increasing attention in the
        boardroom. New ESG regulations and expanded shareholder activism also
        add new challenges to fiduciary duty and other governance concerns.
      </p>
      <p class="text-start fs-6">Lawyers in our market-leading global
        <strong>corporate governance practice</strong>
        are keenly attuned to these matters and routinely advise boards of
        directors, board committees, individual directors, C-suites, and
        investor groups on:
      </p>
      <ul
        class="list-group d-flex flex-column gap-3 ps-4 list d-flex flex-column gap-3"
      >
        <li class="list-group-item-light">Board and committee oversight of ESG
        </li>
        <li class="list-group-item-light">Executive compensation linked to ESG
          goals
        </li>
        <li class="list-group-item-light">Diversity, Equity, and Inclusion</li>
        <li class="list-group-item-light">Board composition, independence, and
          succession planning
        </li>
        <li class="list-group-item-light">Political spending and lobbying</li>
        <li class="list-group-item-light">Human capital management</li>
        <li class="list-group-item-light">Crisis management
        </li>
        <li class="list-group-item-light">Cybersecurity risk governance
        </li>
        <li class="list-group-item-light">Climate change disclosures</li>
        <li class="list-group-item-light">Shareholder engagement and activism</li>
        <li class="list-group-item-light">Compliance with evolving stock
          exchange listing standards and regulations</li>
      </ul>
    </div>
  </div>
</section>