<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-about"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Environment and Climate Change</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      /
      <a
        href="/about"
        class="text-decoration-none text-white link-primary"
      >About Us</a>
      / Environment and Climate Change
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="d-flex flex-column gap-2">
      <p class="pb-4 text-center fs-1 text-darkslategray font-georgia">Environment and Climate
        Change
      </p>
      <p class="text-start fs-6">With the collaboration of our
        <strong>Public Policy, Environmental</strong>, and
        <strong>Energy</strong>
        practices, we are ideally positioned to identify opportunities presented
        by climate change and to help clients navigate the global web of
        evolving issues they face, including clean energy and efficient
        infrastructure requirements.
      </p>
      <p class="text-start fs-6">We help clients drive towards carbon
        neutrality, including through investments and policy advocacy relating
        to:
      </p>
      <ul class="list-group d-flex flex-column gap-3 ps-4">
        <li class="list-group-item-light">Carbon capture, utilization, and
          storage (CCS)</li>
        <li class="list-group-item-light">Low-carbon transportation fuels and
          sustainable aviation fuel
        </li>
        <li class="list-group-item-light">Green and blue hydrogen </li>
        <li class="list-group-item-light">Zero-carbon power generation
        </li>
        <li class="list-group-item-light">Offshore wind</li>
        <li class="list-group-item-light">Electric vehicles (EVs), batteries,
          and energy storage</li>
        <li class="list-group-item-light">Nature-based climate solutions
        </li>
        <li class="list-group-item-light">Carbon markets</li>
      </ul>
      <p class="text-start fs-6 pt-3">Our climate change and sustainability work
        includes:
      </p>
      <ul class="list-group d-flex flex-column gap-3 ps-4">
        <li class="list-group-item-light">Public policy </li>
        <li class="list-group-item-light">Regulatory</li>
        <li class="list-group-item-light">Litigation </li>
        <li class="list-group-item-light">Transactional</li>
      </ul>
    </div>
  </div>
</section>