<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-about"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Fintech</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      /
      <a
        href="/about"
        class="text-decoration-none text-white link-primary"
      >About Us</a>
      / Fintech
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="d-flex flex-column gap-2">
      <p class="pb-4 text-center fs-1 text-darkslategray font-georgia">Fintech
      </p>
      <p class="text-start fs-4">Our fintech team strives to provide innovative
        legal solutions to help fintech companies of all sizes achieve their
        commercial and growth objectives. We also work with investment banks and
        other financial institutions on the financings that fund fintech
        companies and their activities.
      </p>
      <p class="text-start fs-6"><strong>Fintech is changing the world.</strong>
        We believe in the value proposition of fintech because we have been
        innovating alongside our clients as they transform the economy Simply
        put, we partner with our fintech clients to position them for growth
        while simultaneously helping to assess and reduce risk in the face of
        changing regulations, increased scrutiny on fintech providers and
        greater uncertainty across all economic sectors. We understand that not
        every fintech enterprise faces the same legal challenges, and are
        committed to helping our broad base of clients achieve success on their
        own terms.
      </p>
    </div>
  </div>
</section>