<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-about"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Healthtechs</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      /
      <a
        href="/about"
        class="text-decoration-none text-white link-primary"
      >About Us</a>
      / Healthtechs
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="d-flex flex-column gap-2">
      <p class="pb-4 text-center fs-1 text-darkslategray font-georgia">Healthtechs
      </p>
      <p class="text-start fs-6">Stakeholders across the healthcare, technology
        and communications industries seek to harness the power of data and
        information technology to improve the effectiveness and efficiency of
        their products, solutions and services, create new and cutting-edge
        innovations, and achieve better outcomes for patients. Partnering with
        lawyers who understand how the regulatory, IP, and commercial pieces of
        the digital health puzzle fit together is essential. The
        <strong class="font-georgia">Digital Health team</strong>
        offers unsurpassed breadth and depth of expertise and experience
        concerning the legal, regulatory, and policy issues that affect digital
        health products and services.
      </p>
    </div>
  </div>
</section>