<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-about"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">M& A</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      /
      <a
        href="/about"
        class="text-decoration-none text-white link-primary"
      >About Us</a>
      / M& A
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="d-flex flex-column gap-2">
      <p class="pb-4 text-center fs-1 text-darkslategray font-georgia">M& A
      </p>
      <ul
        class="fs-5 list-group d-flex flex-column gap-3 ps-4 list d-flex flex-column gap-3"
      >
        <li class="list-group-item-light">72+ member team in 12 major business
          and technology centers in the US, Europe and Asia and GCC ( Emirates)
        </li>
        <li class="list-group-item-light">Broad industry platform with clients
          across many industries and sophisticated capabilities in all practice
          areas
        </li>
        <li class="list-group-item-light">Excel in deals in the tech, Crypto,
          Investment Funds extructure , life sciences, medical device and
          healthcare, consumer, education, defense and media industries</li>
        <li class="list-group-item-light">Given our market position in the
          medtech and life sciences sectors, we have handled a large number of
          life sciences M&A transactions, both public and private, and
          understand unique structuring issues for life sciences companies,
          including milestone structures, contingent value rights and option
          structures
        </li>
        <li class="list-group-item-light">Primary corporate counsel to 100+
          public and privates companies, giving us an unmatched perspective on
          market deal points and ability to facilitate introductions between
          buyers and sellers</li>
        <li class="list-group-item-light">Represent all categories of
          participants in transactions, including buyers, sellers, major
          stockholders, venture capitalists, lenders, financial advisors,
          management/founders, special board committees, individual investors,
          private equity funds, hedge funds and others</li>
        <li class="list-group-item-light">Adept at handling all manner of
          transactions, including domestic and cross-border mergers and
          acquisitions, strategic deals including joint ventures, acquisitions
          of IP assets, patent cross-licenses, complex divestitures and
          spin-offs, takeover defense and shareholder activism counseling, and
          multibillion-dollar public company mergers
        </li>
        <li class="list-group-item-light">Robust SPAC experience and thought
          leaders in the area with a repository of market insight and guidance
          for businesses interested in the IPO alternative .
        </li>
        <li class="list-group-item-light">Market-leading IP, privacy, technology
          licensing, life sciences collaborations and licensing, regulatory,
          government contracts, credit finance, private equity, antitrust,
          employment, compensation and tax practices to support transactions</li>
        <li class="list-group-item-light fs-3">Family and Estate and Succession
          Planning</li>
      </ul>
      <div class="py-4 d-flex flex-column gap-4">
        <p
          class="text-start text-muted fw-semibold border border-1 border-dark px-1"
        >We use our experience in the areas of tax, corporate, litigation,
          family and succession law to achieve a unique model that reflects the
          reality of each family and the assets held by it.
        </p>
        <p
          class="text-start text-muted fw-semibold border border-1 border-dark px-1"
        >The advice provided by our office includes corporate reorganizations
          and asset structuring, income taxation, donations and inheritance
          involving assets in Brazil and abroad.
        </p>
        <p
          class="text-start text-muted fw-semibold border border-1 border-dark px-1"
        >We prepare the most diverse instruments inherent to estate and
          succession planning, such as wills, donation contracts, constitution
          of family council, prenuptial agreement, shareholders' agreement,
          among others.
        </p>
      </div>
    </div>
  </div>
</section>