<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-about"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Metaverse</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      /
      <a
        href="/about"
        class="text-decoration-none text-white link-primary"
      >About Us</a>
      / Metaverse
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="d-flex flex-column gap-2">
      <p class="pb-4 text-center fs-1 text-darkslategray font-georgia">Metaverse
      </p>
      <p class="text-start fs-6">Uncertainty and opportunity surround the
        metaverse and web3. Callegari Law provides strategic advice to clients
        on how to protect and extend their content and brands in real-time, 3D
        environments as well as decentralized platforms, and also counsels
        metaverse platforms on how to integrate highly-branded goods into their
        digital environments. Our experience working with clients on matters
        relating to video games, cryptocurrencies, digital content distribution
        and NFTs, combined with our deep industry expertise in the fields of
        insurance, tax, antitrust, consumer marketing, and financial services,
        give us actionable insights that can help our clients craft successful
        strategies, execute transactions, and navigate disputes in this
        fast-moving market.
      </p>
      <p class="text-start fs-4 text-darkslategray font-georgia">Global
        technology leaders rely on Callegari Law on-the-ground connections and
        acumen, sophisticated legal counsel, and regulatory and government
        insight to help them solve their most complex legal issues around the
        world.
      </p>
      <p class="text-start fs-4 text-darkslategray font-georgia">These are only
        a few of many reasons that nine of the 10 largest global technology
        companies, along with 1,100 other technology innovators, turn to
        Callegari Law technology team to achieve their business and legal
        objectives.
      </p>
    </div>
  </div>
</section>