<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-sports header-background-image"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Sports</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      /
      <a
        href="/about"
        class="text-decoration-none text-white link-primary"
      >About Us</a>
      / Sports
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="d-flex flex-column gap-2">
      <p class="pb-4 text-center fs-1 text-darkslategray font-georgia">Sports
      </p>
      <div class="row">
        <div class="col-md-6">
          <p class="text-start fs-6">Our work spans the industry—from league and
            association structuring, governance, and rule-making matters to
            acquisitions of franchises or other sports related businesses; from
            launches of single sport and regional sports networks to
            groundbreaking Internet and mobile media agreements; from the
            formation of new e-sport start-up ventures to multi-million dollar
            stadium financings, CALLEGARI LAW has played a central role in
            headline-making sports matters for decades.
          </p>
        </div>
        <div class="col-md-6 flex gap-2">
          <img
            src="/sports-img.jpg"
            alt=""
            class="img-fluid"
            style="max-height: 360px;"
          />
        </div>
      </div>
      <p class="text-start fs-6">Sports industry participants regularly seek our
        advice for complex, industry-shaping legal questions covering such
        diverse matters as antitrust counseling, collective bargaining,
        copyright enforcement, financings, governance, insurance recovery,
        litigation, media rights development, mergers and acquisitions,
        regulatory affairs, sponsorships, and state, federal, and international
        tax.
      </p>
      <ul class="pt-5 ps-4 list-group list d-flex flex-column gap-3">
        <li class="list-group-item-light fs-6">
          <a
            href="https://www.orrick.com/en/Technology"
            class="text-decoration-none link-dark"
          >
            TECHNOLOGY & INNOVATION
          </a>
        </li>
        <li class="list-group-item-light fs-6">
          <a
            href="https://www.orrick.com/en/Energy-and-Infrastructure-Sector"
            class="text-decoration-none link-dark"
          >
            ENERGY & INFRASTRUCTURE
          </a>
        </li>
        <li class="list-group-item-light fs-6">
          <a
            href="https://www.orrick.com/en/Finance"
            class="text-decoration-none link-dark"
          >
            FINANCE
          </a>
        </li>
        <li class="list-group-item-light fs-6">
          Crypto Currency
        </li>
      </ul>
    </div>
  </div>
</section>