<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background-tokenisation header-background-image"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Tokenisation</h1>
    <p class="text-center">
      <a
        href="/home"
        class="text-decoration-none text-white link-primary"
      >Home</a>
      /
      <a
        href="/about"
        class="text-decoration-none text-white link-primary"
      >About Us</a>
      / Tokenisation
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="d-flex flex-column gap-2">
      <p
        class="pb-4 text-center fs-1 text-darkslategray font-georgia"
      >Tokenisation</p>
      <div class="row">
        <div class="col-md-6">
          <p class="text-start fs-4 fw-semibold">What are Blockchain, smart
            Contracts and Tokenisation?
          </p>
          <div class="d-flex flex-column gap-1 font-georgia">
            <p class="text-start fs-6"><strong>“Blockchain”</strong>
              is a technological system where data is recorded on a number of
              decentralised ledgers (the so-called "distributed ledgers"), which
              are maintained on the computers that form part of the blockchain,
              the nodes. Every time that data is to be added to the blockchain,
              each node is expected to update the copy of the ledger maintained
              by it by adding the new 'block' to the existing chain.
            </p>
          </div>
        </div>
        <div class="col-md-6 flex gap-2">
          <img
            src="/chicago-city-skyline.jpg"
            alt=""
            class="img-fluid"
            style="max-height: 360px;"
          />
        </div>
      </div>
      <p class="text-start fs-6">A new block is added to the various ledgers
        only if the blockchain algorithm has positively completed a secure
        validation procedure involving all the participating nodes (the
        "consensus protocol"), and once the new block is added, there is no way
        to delete such entry, for which reason blockchains are considered
        immutable.
      </p>
      <p class="text-start fs-6">Other important features of blockchain are that
        any block being added to the ledgers is timestamped and cryptographed,
        so that data can be recorded in a secure, and auditable way.
      </p>
      <p class="text-start fs-6">The blockchain updates are managed by complex
        and automated algorithm, so that the risk of human error is minimised
        and there is no need (necessarily) for intermediaries to manage the
        blockchain or carry out reconciliation activities on the recorded data.
      </p>
      <p class="text-start fs-6">Finally, it is important to distinguish between
        public and private blockchains. Public blockchains are also referred to
        as 'permissionless', as anyone can join the blockchain without obtaining
        any permission, by making available a computer (node) that offers
        computing power helping the blockchain perform the required calculations
        (and by so-doing being involved in the consensus process). Conversely,
        private blockchains are those where a node can only join the blockchain
        if granted with a permission to do so.
      </p>
      <p class="text-start fs-6"><strong>“Smart Contracts”</strong>
        on blockchains are blocks of code designed to ensure that certain
        actions are performed within the blockchain or triggered outside the
        blockchain, upon the occurrence of pre-determined conditions as agreed
        upon between the relevant parties.
      </p>
      <p class="text-start fs-6">In a structured finance context, smart contacts
        could for instance be those automated processes that ensure that
        payments are made on a given payment date, that additional collateral is
        posted depending on the quality of the portfolio data made available on
        reports, etc.
      </p>
      <p class="text-start fs-6"><strong>"Tokenisation"</strong>, or the process
        whereby a typically illiquid asset held by an issuer could be converted
        into a fixed number of liquid tokens (having a fractional value of the
        original illiquid asset) to be acquired by investors (who in turn could
        further subdivide such liquid tokens) has been used by a number of
        market participants(for example, Aspen Coin, which tokenises real estate
        property for investors).
      </p>
      <p class="text-start fs-6">The main benefit of tokenising assets is that
        it increases the liquidity of the assets which can then be traded on a
        secondary market of the issuer’s choice. Since tokens are highly
        divisible, investors can also purchase tokens that represent very small
        percentages of the underlying assets making investing much more
        accessible. Finally, because the transaction of tokens is completed
        using smart contracts, certain parts of the exchange process are
        automated which reduces the administrative burden involved in trading.
        With fewer intermediaries, deals can be executed faster and with lower
        transaction fees.
      </p>

      <p class="text-start fw-semibold fs-4">How blockchain could benefit
        structured finance</p>
      <p class="text-start fs-6 font-georgia">There are a number of benefits
        which blockchain could bring to securitisation:</p>
      <ul
        class="list-group d-flex flex-column gap-3 ps-md-2 ps-4 font-georgia fs-6"
      >
        <li class="list-group-item-light"><strong>immutable, traceable audit
            trail:</strong>
          from loan origination to primary issuance, and changes in ownership in
          the secondary market, blockchain can create a chronological and
          immutable audit trail of all transactions. With this capability,
          regulators and auditors can get a view of the ownership and title of
          the underlying securitised assets;</li>
        <li class="list-group-item-light"><strong>speed and certainty:</strong>
          blockchain through its disintermediation and simultaneous recording of
          information across the system, can almost totally eliminate time lags
          in information and payment flows throughout the securitisation
          process, including in the secondary market. This increase in speed and
          certainty could significantly reduce counterparty risk, release
          capital, and reduce the return thresholds that investors require;</li>
        <li class="list-group-item-light"><strong>security:</strong>
          blockchain’s capacity to increase the security of transactions and
          data, and mitigate fraud could be appealing to the securitisation (and
          indeed generally the financial services) industry, where integrity of
          data is paramount, especially if compared to an industry that is
          essentially based on exchanges of emails and all security issues
          relating to them. One important aspect to consider is that given the
          interconnectivity of all segments within the blockchain, wrong entries
          (because of their erroneous or malicious nature) would automatically
          reverberate in several layers of the blockchain and the validation
          protocols would prevent such mistake from going unnoticed; and</li>
        <li class="list-group-item-light"><strong>data:</strong>
          information could be presented to all relevant stakeholders for due
          diligence, monitoring and execution purposes. In a structured finance
          context, data recorded on the ledgers tends to correspond to financial
          transactions, and for such reason it is more likely that blockchain
          securitisations will be "private" blockchains; however, they may be
          designed so as to have different permissioned rights so that depending
          on the type of user (and its role within the securitisation) different
          levels of disclosure may be applied (e.g. a security trustee required
          to notify the underlying borrowers may need to have access to personal
          data, rating agencies may need to have access on reports as well as
          certain information (e.g. around swap pricing) which may not be
          disclosable to all transaction parties). Better and more frequent data
          could also create more business opportunities - for example, making
          granular information available on a daily basis could help arrangers
          cut the securitisation pool in a more precise way and eventually
          result in better pricing in the interest of all parties.</li>
      </ul>
      <p>The above benefits could in turn lead to greater efficiency, speed,
        transparency and safety on the securitisation market, which could lead
        to a higher investor appetite and improve pricing, volume and spreads,
        which could lead to more issuers and borrowers using securitisation as a
        funding means.</p>
    </div>
  </div>
</section>