<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Banking and Payments Law</h1>
    <p class="text-center">
      <a href="/home" class="text-decoration-none text-white link-primary">
        Home</a>
      /
      <a href="/pratice" class="text-decoration-none text-white link-primary">
        Pratice Areas</a>
      / Banking and Payments Law
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center pt-md-0 pt-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="row gap-md-0 gap-3">
      <div class="col-md-8 text-muted">
        <div class="d-flex flex-column gap-3 text-center py-3">
          <p class="text-start fs-6">The banking system in the United States
            consists of two regimes: a nationally regulated system and a
            state-regulated system. Many states have laws permitting the
            operation of a state-chartered trust company, a premier option for
            certain virtual currency businesses. New York, for example, issues
            charters for Limited Purpose Trust Companies allowing virtual
            currency companies to buy, sell, transmit, store and custody virtual
            currency on behalf of third-parties, including exchanging virtual
            currencies for fiat currencies, operate a virtual currency trading
            exchange, and issue virtual currency. Similarly, Wyoming offers a
            charter for Special Purpose Depository Institution permitting
            similar activities by virtual currency companies</p>
          <p class="text-start fs-6">The attorneys at Bull Blockchain Law advise
            clients on the requirements applicable to their digital asset
            business activities and can help prepare applications for approval
            of a state trust charters. We advise on regulations tailored to
            digital assets and address issues such as technology controls,
            transaction handling, and custody operations for digital assets.
          </p>
        </div>
        <ul
          class="list-group d-flex flex-column gap-3 ps-1 mt-4"
          data-animation="up"
        >
          <li class="">State Trust Charter Applications</li>
          <li class="">Digital Asset Statutes</li>
          <li class="">Digital Asset Custody Rules</li>
          <li class="">Net Capital Guidance</li>
          <li class="">Anti-Money Laundering Compliance</li>
          <li class="">Money Transmission Advising</li>
          <li class="">Advising on national regulatory strategy considering
            conflicting national and state regulations</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div
          class="d-flex flex-column gap-2 p-4 text-muted text-start bg-secondary bg-opacity-10"
        >
          <p class="fs-3 fw-bolder">Relevant Articles</p>
          <div
            class="d-flex flex-column gap-4 px-md-5 py-md-5 pb-3 py-4 bg-white"
          >
            <div class="d-flex flex-column gap-3">
              <a
                href="#"
                class="m-0 text-decoration-none link-primary text-black fs-6 fw-bolder lh-sm"
              >DELAWARE COURT AWARDS $25M TO DIAMOND FORTRESS TECHNOLOGIES FOR
                BREACH OF CRYPTO-PAID CONTRACT</a>
              <p class="m-0 fs-6">May 23, 2022</p>
            </div>
            <div class="d-flex flex-column gap-3" data-animation="up">
              <a
                href="#"
                class="m-0 text-decoration-none link-primary text-black fs-6 fw-bolder lh-sm"
              >CLIENT ALERT: NFT Marketplaces and the Shifting Regulatory
                Environment</a>
              <p class="m-0 fs-6">April 1, 2022</p>
            </div>
            <div class="d-flex flex-column gap-3" data-animation="up">
              <a
                href="#"
                class="m-0 text-decoration-none link-primary text-black fs-6 fw-bolder lh-sm"
              >How Do I Find a Reputable Crypto Lawyer?</a>
              <p class="m-0">March 26, 2022</p>
            </div>
          </div>
          <p class="fs-3 fw-bolder mt-3" data-animation="up">Resources</p>
          <a
            href=""
            class="btn btn-primary text-decoration-none px-4 py-2 rounded-1 fw-bolder"
            style="width: fit-content;"
            data-animation="up"
          >Get A Consultation</a>
        </div>
      </div>
    </div>
  </div>
</section>