<section
  class="d-flex justify-content-center align-items-center"
  style="height: 60vh;"
>
  <div class="header-background"></div>
  <div class="container position-absolute text-white" style="top: 300px;">
    <h1 class="text-center">Banking and Payments Law</h1>
    <p class="text-center">
      <a href="/home" class="text-decoration-none text-white link-primary">
        Home</a>
      /
      <a href="/pratice" class="text-decoration-none text-white link-primary">
        Pratice Areas</a>
      / Banking and Payments Law
    </p>
  </div>
</section>
<section
  class="d-flex min-vh-100 justify-content-center align-items-center py-5"
>
  <div class="container d-flex flex-column gap-5 px-md-5 px-3">
    <div class="row gap-md-0 gap-3 py-4">
      <div class="col-md-8 d-flex flex-column gap-4">
        <div class="d-flex flex-column gap-2">
          <p
            class="pb-2 text-center fs-4 text-darkslategray font-georgia"
          >METAVERSE
          </p>
          <p class="text-start fs-6">Uncertainty and opportunity surround the
            metaverse and web3. Callegari Law provides strategic advice to
            clients on how to protect and extend their content and brands in
            real-time, 3D environments as well as decentralized platforms, and
            also counsels metaverse platforms on how to integrate highly-branded
            goods into their digital environments. Our experience working with
            clients on matters relating to video games, cryptocurrencies,
            digital content distribution and NFTs, combined with our deep
            industry expertise in the fields of insurance, tax, antitrust,
            consumer marketing, and financial services, give us actionable
            insights that can help our clients craft successful strategies,
            execute transactions, and navigate disputes in this fast-moving
            market.
          </p>
          <p
            class="text-start fs-4 text-darkslategray font-georgia"
          >Global technology leaders rely on Callegari Law on-the-ground
            connections and acumen, sophisticated legal counsel, and regulatory
            and government insight to help them solve their most complex legal
            issues around the world.
          </p>
          <p
            class="text-start fs-4 text-darkslategray font-georgia"
          >These are only a few of many reasons that nine of the 10 largest
            global technology companies, along with 1,100 other technology
            innovators, turn to Callegari Law technology team to achieve their
            business and legal objectives.
          </p>
        </div>
        <div class="d-flex flex-column gap-2">
          <p
            class="b-2 text-start fs-4 text-darkslategray font-georgia"
          >HEALTHTECHS
          </p>
          <p class="text-start fs-6">Stakeholders across the healthcare,
            technology and communications industries seek to harness the power
            of data and information technology to improve the effectiveness and
            efficiency of their products, solutions and services, create new and
            cutting-edge innovations, and achieve better outcomes for patients.
            Partnering with lawyers who understand how the regulatory, IP, and
            commercial pieces of the digital health puzzle fit together is
            essential. The
            <strong class="font-georgia">Digital Health team</strong>
            offers unsurpassed breadth and depth of expertise and experience
            concerning the legal, regulatory, and policy issues that affect
            digital health products and services.
          </p>
        </div>
        <div class="d-flex flex-column gap-2">
          <p class="pb-4 text-start fs-3">Fintech
          </p>
          <p class="text-start fs-4">Our fintech team strives to provide
            innovative legal solutions to help fintech companies of all sizes
            achieve their commercial and growth objectives. We also work with
            investment banks and other financial institutions on the financings
            that fund fintech companies and their activities.
          </p>
          <p class="text-start fs-6"><strong>Fintech is changing the world.</strong>
            We believe in the value proposition of fintech because we have been
            innovating alongside our clients as they transform the economy
            Simply put, we partner with our fintech clients to position them for
            growth while simultaneously helping to assess and reduce risk in the
            face of changing regulations, increased scrutiny on fintech
            providers and greater uncertainty across all economic sectors. We
            understand that not every fintech enterprise faces the same legal
            challenges, and are committed to helping our broad base of clients
            achieve success on their own terms.
          </p>
        </div>
        <div class="d-flex flex-column gap-2">
          <p
            class="pb-4 text-start fs-2 text-darkslategray font-georgia"
          >Communications and Media
          </p>
          <p class="text-start fs-6">CALLEGARI LAW global Communications and
            Media Industry Group has widely recognized experience in
            telecommunications, broadcasting, wireless, broadband, content
            creation and distribution, spectrum innovation, newsgathering, and
            the First Amendment. The group maintains an elite practice
            representing parties before the Federal Communications Commission
            (FCC), at the same time that it has experience in a wide range of
            communications matters, including structuring, counseling on, and
            negotiating transactions and regulatory resolutions, and, where
            necessary, litigation.
          </p>
          <p class="text-start fs-6">CALLEGARI LAW industry team,” provides the
            highest level of legal and strategic advice to telecommunications,
            media, and technology companies around the world. CALLEGARI LAW
            communications and media lawyers are not just lawyers with media
            clients—our lawyers act as strategic advisors to leading and
            emerging entities across the entire industry. We provide legal
            services to Fortune 25 multinational companies and entrepreneurs
            alike. Our clients include Internet and telecommunications
            companies, leading application developers, national broadcast
            television networks and stations, cable programming networks,
            digital video channels, sports leagues, major music labels and
            publishers, video game publishers, streaming video services, and
            film studios.
          </p>
          <p class="text-start fs-6">Our practice covers a full range of
            services, including the following:
          </p>
          <ul class="list-group d-flex flex-column gap-3 ps-4">
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/accessibility"
              >
                Accessibility
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/broadband-and-telecommunications"
              >
                Broadband and Telecommunications
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/broadcast"
              >
                Broadcast
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/content-creation-and-distribution"
              >
                Content Creation and Distribution
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/fcc-equipment-authorization"
              >
                FCC Equipment Authorization
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/m-and-a-transactions-in-the-communications-and-media-industry"
              >
                M&A Transactions in the Communications and Media Industry
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/media-and-entertainment-litigation"
              >
                Media and Entertainment Litigation
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/satellite"
              >
                Satellite
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/team-telecom-and-national-security"
              >
                Team Telecom and National Security
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/telephone-consumer-privacy-act-tcpa-compliance-and-policymaking"
              >
                Telephone Consumer Privacy Act (TCPA) Compliance and
                Policymaking
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/universal-service-funding"
              >
                Universal Service Funding
              </a>
            </li>
            <li class="text-darkslategray fw-semibold"><a
                class="text-decoration-none fs-5 text-darkslategray-light"
                href="https://www.cov.com/en/practices-and-industries/industries/communications-and-media/wireless-and-spectrum"
              >
                Wireless and Spectrum
              </a>
            </li>
          </ul>
          <p class="text-start fs-6 pt-2">Businesses today face increasing
            scrutiny of their Environmental, Social, and Governance (ESG)
            strategies from regulators, investors, consumers, NGOs, and other
            key stakeholders who want—and often require—a commitment to social
            and environmental responsibility and sound corporate governance. A
            robust ESG program provides a competitive advantage for businesses
            that make it a top priority. While ESG has potential to create new
            business opportunities, it can also pose legal, reputational, and
            operational risks.
          </p>
          <p class="text-start fs-6">Callegari Law global and multidisciplinary
            ESG practice advises companies, investors, and other stakeholders on
            the rapidly evolving developments related to emerging ESG and
            sustainability issues. Our ESG lawyers and advisors help our clients
            meet the most complex business, legal, and regulatory challenges in
            the ESG space.
          </p>
        </div>
        <div class="d-flex flex-column gap-2">
          <p class="pt-3 text-start fs-2 font-georgia">Capabilities
          </p>
          <p class="text-start fs-3 font-georgia">Environment and Climate Change
          </p>
          <p class="text-start fs-6">With the collaboration of our
            <strong>Public Policy, Environmental</strong>, and
            <strong>Energy</strong>
            practices, we are ideally positioned to identify opportunities
            presented by climate change and to help clients navigate the global
            web of evolving issues they face, including clean energy and
            efficient infrastructure requirements.
          </p>
          <p class="text-start fs-6">We help clients drive towards carbon
            neutrality, including through investments and policy advocacy
            relating to:
          </p>
          <ul class="list-group d-flex flex-column gap-3 ps-4">
            <li class="list-group-item-light">Carbon capture, utilization, and
              storage (CCS)</li>
            <li class="list-group-item-light">Low-carbon transportation fuels
              and sustainable aviation fuel
            </li>
            <li class="list-group-item-light">Green and blue hydrogen </li>
            <li class="list-group-item-light">Zero-carbon power generation
            </li>
            <li class="list-group-item-light">Offshore wind</li>
            <li class="list-group-item-light">Electric vehicles (EVs),
              batteries, and energy storage</li>
            <li class="list-group-item-light">Nature-based climate solutions
            </li>
            <li class="list-group-item-light">Carbon markets</li>
          </ul>
          <p class="text-start fs-6 pt-3">Our climate change and sustainability
            work includes:
          </p>
          <ul class="list-group d-flex flex-column gap-3 ps-4">
            <li class="list-group-item-light">Public policy </li>
            <li class="list-group-item-light">Regulatory</li>
            <li class="list-group-item-light">Litigation </li>
            <li class="list-group-item-light">Transactional</li>
          </ul>
        </div>
        <div class="d-flex flex-column gap-2">
          <p class="pt-3 text-start fs-3 font-georgia">ESG and Sustainability
            Disclosure, Goal Setting, and Investor Engagement
          </p>
          <p class="text-start fs-6">
            We advise clients across a wide range of industries regarding their
            mandatory and voluntary ESG and sustainability disclosures,
            including:
          </p>
          <ul class="list-group d-flex flex-column gap-3 ps-4">
            <li class="list-group-item-light">Setting, tracking, and validating
              progress on greenhouse gas emissions, including science-based
              targets</li>
            <li class="list-group-item-light">Human capital management
            </li>
            <li class="list-group-item-light">Energy efficiency </li>
            <li class="list-group-item-light">Water use
            </li>
            <li class="list-group-item-light">Other sustainability goals</li>
            <li class="list-group-item-light">Disclosure controls and procedures</li>
          </ul>
          <p class="text-start fs-6 pt-3">We also advise clients as they engage
            with investors on these matters, including:
          </p>
          <ul class="list-group d-flex flex-column gap-3 ps-4">
            <li class="list-group-item-light">Preparing for investment
              stewardship meetings
            </li>
            <li class="list-group-item-light">Shaping ESG ratings reports</li>
            <li class="list-group-item-light">Managing shareholder proposals</li>
          </ul>
          <p class="pt-3 text-start fs-6">We offer both depth and strength in
            assisting clients with ESG issues in SEC and sustainability reports,
            including with respect to disclosure controls and assurance. We
            regularly engage with the SEC staff on behalf of our clients on
            interpretive questions, no-action letters, consultations regarding
            discrete disclosure or transactional issues, and similar issues.
          </p>
        </div>
        <div class="d-flex flex-column gap-2">
          <p class="text-start fs-3 font-georgia">Corporate Governance
          </p>
          <p class="text-start fs-6">Stakeholder capitalism, sustainability, and
            other ESG considerations are commanding increasing attention in the
            boardroom. New ESG regulations and expanded shareholder activism
            also add new challenges to fiduciary duty and other governance
            concerns.
          </p>
          <p class="text-start fs-6">Lawyers in our market-leading global
            <strong>corporate governance practice</strong>
            are keenly attuned to these matters and routinely advise boards of
            directors, board committees, individual directors, C-suites, and
            investor groups on:
          </p>
          <ul
            class="list-group d-flex flex-column gap-3 ps-4 list d-flex flex-column gap-3"
          >
            <li class="list-group-item-light">Board and committee oversight of
              ESG
            </li>
            <li class="list-group-item-light">Executive compensation linked to
              ESG goals
            </li>
            <li class="list-group-item-light">Diversity, Equity, and Inclusion</li>
            <li class="list-group-item-light">Board composition, independence,
              and succession planning
            </li>
            <li class="list-group-item-light">Political spending and lobbying</li>
            <li class="list-group-item-light">Human capital management</li>
            <li class="list-group-item-light">Crisis management
            </li>
            <li class="list-group-item-light">Cybersecurity risk governance
            </li>
            <li class="list-group-item-light">Climate change disclosures</li>
            <li class="list-group-item-light">Shareholder engagement and
              activism</li>
            <li class="list-group-item-light">Compliance with evolving stock
              exchange listing standards and regulations</li>
          </ul>
        </div>
        <div class="d-flex flex-column gap-2">
          <p class="pt-3 text-start fs-3 font-georgia">SPORTS
          </p>
          <p class="text-start fs-6">Our work spans the industry—from league and
            association structuring, governance, and rule-making matters to
            acquisitions of franchises or other sports related businesses; from
            launches of single sport and regional sports networks to
            groundbreaking Internet and mobile media agreements; from the
            formation of new e-sport start-up ventures to multi-million dollar
            stadium financings, CALLEGARI LAW has played a central role in
            headline-making sports matters for decades.
          </p>
          <p class="text-start fs-6">Sports industry participants regularly seek
            our advice for complex, industry-shaping legal questions covering
            such diverse matters as antitrust counseling, collective bargaining,
            copyright enforcement, financings, governance, insurance recovery,
            litigation, media rights development, mergers and acquisitions,
            regulatory affairs, sponsorships, and state, federal, and
            international tax.
          </p>
          <ul class="pt-5 ps-4 list-group list d-flex flex-column gap-3">
            <li class="list-group-item-light fs-6">
              <a
                href="https://www.orrick.com/en/Technology"
                class="text-decoration-none link-dark"
              >
                TECHNOLOGY & INNOVATION
              </a>
            </li>
            <li class="list-group-item-light fs-6">
              <a
                href="https://www.orrick.com/en/Energy-and-Infrastructure-Sector"
                class="text-decoration-none link-dark"
              >
                ENERGY & INFRASTRUCTURE
              </a>
            </li>
            <li class="list-group-item-light fs-6">
              <a
                href="https://www.orrick.com/en/Finance"
                class="text-decoration-none link-dark"
              >
                FINANCE
              </a>
            </li>
            <li class="list-group-item-light fs-6">
              Crypto Currency
            </li>
          </ul>
          <p class="pt-3 text-start fs-6 fw-light">M& A
          </p>
          <ul
            class="fs-5 list-group d-flex flex-column gap-3 ps-4 list d-flex flex-column gap-3"
          >
            <li class="list-group-item-light">72+ member team in 12 major
              business and technology centers in the US, Europe and Asia and GCC
              ( Emirates)
            </li>
            <li class="list-group-item-light">Broad industry platform with
              clients across many industries and sophisticated capabilities in
              all practice areas
            </li>
            <li class="list-group-item-light">Excel in deals in the tech,
              Crypto, Investment Funds extructure , life sciences, medical
              device and healthcare, consumer, education, defense and media
              industries</li>
            <li class="list-group-item-light">Given our market position in the
              medtech and life sciences sectors, we have handled a large number
              of life sciences M&A transactions, both public and private, and
              understand unique structuring issues for life sciences companies,
              including milestone structures, contingent value rights and option
              structures
            </li>
            <li class="list-group-item-light">Primary corporate counsel to 100+
              public and privates companies, giving us an unmatched perspective
              on market deal points and ability to facilitate introductions
              between buyers and sellers</li>
            <li class="list-group-item-light">Represent all categories of
              participants in transactions, including buyers, sellers, major
              stockholders, venture capitalists, lenders, financial advisors,
              management/founders, special board committees, individual
              investors, private equity funds, hedge funds and others</li>
            <li class="list-group-item-light">Adept at handling all manner of
              transactions, including domestic and cross-border mergers and
              acquisitions, strategic deals including joint ventures,
              acquisitions of IP assets, patent cross-licenses, complex
              divestitures and spin-offs, takeover defense and shareholder
              activism counseling, and multibillion-dollar public company
              mergers
            </li>
            <li class="list-group-item-light">Robust SPAC experience and thought
              leaders in the area with a repository of market insight and
              guidance for businesses interested in the IPO alternative .
            </li>
            <li class="list-group-item-light">Market-leading IP, privacy,
              technology licensing, life sciences collaborations and licensing,
              regulatory, government contracts, credit finance, private equity,
              antitrust, employment, compensation and tax practices to support
              transactions</li>
            <li class="list-group-item-light fs-3">Family and Estate and
              Succession Planning</li>
          </ul>
          <div class="py-4 d-flex flex-column gap-4">
            <p
              class="text-start text-muted fw-semibold border border-1 border-dark px-1"
            >We use our experience in the areas of tax, corporate, litigation,
              family and succession law to achieve a unique model that reflects
              the reality of each family and the assets held by it.
            </p>
            <p
              class="text-start text-muted fw-semibold border border-1 border-dark px-1"
            >The advice provided by our office includes corporate
              reorganizations and asset structuring, income taxation, donations
              and inheritance involving assets in Brazil and abroad.
            </p>
            <p
              class="text-start text-muted fw-semibold border border-1 border-dark px-1"
            >We prepare the most diverse instruments inherent to estate and
              succession planning, such as wills, donation contracts,
              constitution of family council, prenuptial agreement,
              shareholders' agreement, among others.
            </p>
          </div>
        </div>
        <div class="d-flex flex-column gap-2">
          <p class="fs-3 fw-semibold text-start">Tokenisation</p>
          <p class="text-start fs-4 fw-semibold">What are Blockchain, smart
            Contracts and Tokenisation?
          </p>
          <div class="d-flex flex-column gap-1 font-georgia">
            <p class="text-start fs-6"><strong>“Blockchain”</strong>
              is a technological system where data is recorded on a number of
              decentralised ledgers (the so-called "distributed ledgers"), which
              are maintained on the computers that form part of the blockchain,
              the nodes. Every time that data is to be added to the blockchain,
              each node is expected to update the copy of the ledger maintained
              by it by adding the new 'block' to the existing chain.
            </p>
            <p class="text-start fs-6">A new block is added to the various
              ledgers only if the blockchain algorithm has positively completed
              a secure validation procedure involving all the participating
              nodes (the "consensus protocol"), and once the new block is added,
              there is no way to delete such entry, for which reason blockchains
              are considered immutable.
            </p>
            <p class="text-start fs-6">Other important features of blockchain
              are that any block being added to the ledgers is timestamped and
              cryptographed, so that data can be recorded in a secure, and
              auditable way.
            </p>
            <p class="text-start fs-6">The blockchain updates are managed by
              complex and automated algorithm, so that the risk of human error
              is minimised and there is no need (necessarily) for intermediaries
              to manage the blockchain or carry out reconciliation activities on
              the recorded data.
            </p>
            <p class="text-start fs-6">Finally, it is important to distinguish
              between public and private blockchains. Public blockchains are
              also referred to as 'permissionless', as anyone can join the
              blockchain without obtaining any permission, by making available a
              computer (node) that offers computing power helping the blockchain
              perform the required calculations (and by so-doing being involved
              in the consensus process). Conversely, private blockchains are
              those where a node can only join the blockchain if granted with a
              permission to do so.
            </p>
            <p class="text-start fs-6"><strong>“Smart Contracts”</strong>
              on blockchains are blocks of code designed to ensure that certain
              actions are performed within the blockchain or triggered outside
              the blockchain, upon the occurrence of pre-determined conditions
              as agreed upon between the relevant parties.
            </p>
            <p class="text-start fs-6">In a structured finance context, smart
              contacts could for instance be those automated processes that
              ensure that payments are made on a given payment date, that
              additional collateral is posted depending on the quality of the
              portfolio data made available on reports, etc.
            </p>
            <p class="text-start fs-6"><strong>"Tokenisation"</strong>, or the
              process whereby a typically illiquid asset held by an issuer could
              be converted into a fixed number of liquid tokens (having a
              fractional value of the original illiquid asset) to be acquired by
              investors (who in turn could further subdivide such liquid tokens)
              has been used by a number of market participants(for example,
              Aspen Coin, which tokenises real estate property for investors).
            </p>
            <p class="text-start fs-6">The main benefit of tokenising assets is
              that it increases the liquidity of the assets which can then be
              traded on a secondary market of the issuer’s choice. Since tokens
              are highly divisible, investors can also purchase tokens that
              represent very small percentages of the underlying assets making
              investing much more accessible. Finally, because the transaction
              of tokens is completed using smart contracts, certain parts of the
              exchange process are automated which reduces the administrative
              burden involved in trading. With fewer intermediaries, deals can
              be executed faster and with lower transaction fees.
            </p>
          </div>
          <p class="text-start fw-semibold fs-4">How blockchain could benefit
            structured finance</p>
          <p class="text-start fs-6 font-georgia">There are a number of benefits
            which blockchain could bring to securitisation:</p>
          <ul
            class="list-group d-flex flex-column gap-3 ps-5 font-georgia fs-6"
          >
            <li class="list-group-item-light"><strong>immutable, traceable audit
                trail:</strong>
              from loan origination to primary issuance, and changes in
              ownership in the secondary market, blockchain can create a
              chronological and immutable audit trail of all transactions. With
              this capability, regulators and auditors can get a view of the
              ownership and title of the underlying securitised assets;</li>
            <li class="list-group-item-light"><strong>speed and certainty:</strong>
              blockchain through its disintermediation and simultaneous
              recording of information across the system, can almost totally
              eliminate time lags in information and payment flows throughout
              the securitisation process, including in the secondary market.
              This increase in speed and certainty could significantly reduce
              counterparty risk, release capital, and reduce the return
              thresholds that investors require;</li>
            <li class="list-group-item-light"><strong>security:</strong>
              blockchain’s capacity to increase the security of transactions and
              data, and mitigate fraud could be appealing to the securitisation
              (and indeed generally the financial services) industry, where
              integrity of data is paramount, especially if compared to an
              industry that is essentially based on exchanges of emails and all
              security issues relating to them. One important aspect to consider
              is that given the interconnectivity of all segments within the
              blockchain, wrong entries (because of their erroneous or malicious
              nature) would automatically reverberate in several layers of the
              blockchain and the validation protocols would prevent such mistake
              from going unnoticed; and</li>
            <li class="list-group-item-light"><strong>data:</strong>
              information could be presented to all relevant stakeholders for
              due diligence, monitoring and execution purposes. In a structured
              finance context, data recorded on the ledgers tends to correspond
              to financial transactions, and for such reason it is more likely
              that blockchain securitisations will be "private" blockchains;
              however, they may be designed so as to have different permissioned
              rights so that depending on the type of user (and its role within
              the securitisation) different levels of disclosure may be applied
              (e.g. a security trustee required to notify the underlying
              borrowers may need to have access to personal data, rating
              agencies may need to have access on reports as well as certain
              information (e.g. around swap pricing) which may not be
              disclosable to all transaction parties). Better and more frequent
              data could also create more business opportunities - for example,
              making granular information available on a daily basis could help
              arrangers cut the securitisation pool in a more precise way and
              eventually result in better pricing in the interest of all
              parties.</li>
          </ul>
          <p>The above benefits could in turn lead to greater efficiency, speed,
            transparency and safety on the securitisation market, which could
            lead to a higher investor appetite and improve pricing, volume and
            spreads, which could lead to more issuers and borrowers using
            securitisation as a funding means.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="d-flex flex-column gap-2 p-4 text-muted text-start bg-secondary bg-opacity-10"
        >
          <p class="fs-3 fw-bolder">Relevant Articles</p>
          <div
            class="d-flex flex-column gap-4 px-md-5 py-md-5 pb-3 py-4 bg-white"
          >
            <div class="d-flex flex-column gap-3">
              <a
                href="#"
                class="m-0 text-decoration-none link-primary text-black fs-6 fw-bolder lh-sm"
              >DELAWARE COURT AWARDS $25M TO DIAMOND FORTRESS TECHNOLOGIES FOR
                BREACH OF CRYPTO-PAID CONTRACT</a>
              <p class="m-0 fs-6">May 23, 2022</p>
            </div>
            <div class="d-flex flex-column gap-3" data-animation="up">
              <a
                href="#"
                class="m-0 text-decoration-none link-primary text-black fs-6 fw-bolder lh-sm"
              >CLIENT ALERT: NFT Marketplaces and the Shifting Regulatory
                Environment</a>
              <p class="m-0 fs-6">April 1, 2022</p>
            </div>
            <div class="d-flex flex-column gap-3" data-animation="up">
              <a
                href="#"
                class="m-0 text-decoration-none link-primary text-black fs-6 fw-bolder lh-sm"
              >How Do I Find a Reputable Crypto Lawyer?</a>
              <p class="m-0">March 26, 2022</p>
            </div>
          </div>
          <p class="fs-3 fw-bolder mt-3" data-animation="up">Resources</p>
          <a
            href=""
            class="btn btn-primary text-decoration-none px-4 py-2 rounded-1 fw-bolder"
            style="width: fit-content;"
            data-animation="up"
          >Get A Consultation</a>
        </div>
      </div>
    </div>
  </div>
</section>