<nav class="navbar navbar-expand-lg bg-transparent fixed-top p-4 px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img
        src="https://bullblockchainlaw.com/wp-content/uploads/2021/11/bull-blockchain-logo.png"
        alt=""
        class="img-fluid"
        style="max-height: 80px;"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav gap-3">
        <a class="nav-link btn rounded-5 px-4" href="/home">Home</a>
        <a class="nav-link btn rounded-5 px-4" href="/pratice">Pratice Areas</a>
        <a class="nav-link btn rounded-5 px-4" href="/about">About Us</a>
        <a class="nav-link btn rounded-5 px-4" href="/news">Recent News</a>
        <a class="nav-link btn rounded-5 px-4" href="/contact">Contact Us</a>
      </div>
    </div>
  </div>
</nav>